body{
	background-color: #bcdbeb;
}

h1{text-align: center;
	font-size: 40px;
	font-family: arial, sans-serif;
}
	
h2{font-size: 30px;
	font-family: arial, sans-serif;
}

#paragraph2{
	align-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 20px;
	background-color: white;
	border: 5px solid green;
	width: 50%;
	line-height: 2;
}

.blue{
	background-color: #030663;
	width: 96%;
	border: 1px solid black;
	color: white;
	padding: 20px;
}

ol{
	list-style-type: decimal-leading-zero;
	padding-left: 30px;
}

ol a:link {
	color: #0b179c;
}

p a:link {
	color: #752604;
}

table{
	table-layout: auto;
	width: 40%;
	border: 1px solid black;
	border-collapse: collapse;
}

table td, table th{
	border: 1px solid black;
	background-color: #bababf;
}

table td{
	padding: 10px;
	background-color: white;
}